body {
  align-items: center;
  margin: 0;
  padding: 0 20% 0 20%;
  background-color: #ffffff;
}

.grid {
  display: grid;
  grid-template-columns: 150px auto;
  grid-auto-columns: minmax(200, auto);
  grid-gap: 0 65px;
  align-items: center;
}

#sidenav {
  width: 185px;
  position: fixed;
  overflow-x: hidden;
  top: 50%;
  transform: translateY(-50%);
}

#sidenav a {
  display: block;
  padding: 10px 0 10px 0;
  align: right;
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 25px;
  text-align: right;
  color: white;
  transition: 0.3s;
}

#sidenav a span {
  background: #B900B9;
  padding: 5px 10px 5px 10px;
}

#sidenav a:hover {
  color: #3b003b;
}

div#content {
  padding: 20px 0 20px 0;
}

h1 {
  font-family: 'Poppins';
  font-size: 50px;
  color: #B900B9;
  font-weight: 700;
  line-height:0.8em;
}

h2 {
  font-family: 'Poppins';
  font-size: 30px;
  color: #870087;
  font-style: italic;
  font-weight: 500;
  line-height:1em;
}

h3 {
  font-family: 'Poppins';
  font-size: 25px;
  color: #5B005B;
  font-weight: 500;
  font-style: italic;
}

p, li {
  font-family: "Raleway";
  font-size: 16px;
  color: #626262;
  letter-spacing: .5px;
  line-height: 1.5em;
}

li {
  margin-bottom: 5px;
}

p.caption {
  font-style: italic;
  font-size: 14px;
  padding: 0 0 10px 0;
  text-align: center;
}

a {
  color: #B900B9;
}

a:hover {
  color: #5B005B;
}

section {
  margin: 30px 0 30px 0;
}

.container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img#tabla {
  height: 134px;
  width: 260px;
  display: inline-block;
  padding: 5px 10px 0 10px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


@media screen and (max-width: 960px)
{
  body {
    padding: 0 10% 0 10%;
  }
}

@media screen and (max-width: 600px)
{
  .grid {
    grid-template-columns: 1fr;
  }
  .grid #sidenav {
    display:none;
  }
}
